html {
    box-sizing: border-box;
}

@font-face {
    font-family: "SF-Pro-Display";
    src: url("../fonts/SF-Pro-Display-Regular.woff2") format("woff2"),
        url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF-Pro-Display";
    src: url("../fonts/SF-Pro-Display-Bold.woff2") format("woff2"),
        url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "spaceagecyrillic";
    src: url("../fonts/spaceagecyrillic-regular.woff2") format("woff2"),
        url("../fonts/spaceagecyrillic-regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
}

body {
    font-family: "SF-Pro-Display";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    background-color: black;
}

.title {
    font-family: "spaceagecyrillic";
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    padding: 100px 0;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.button {
    padding: 20px 45px;
    text-transform: uppercase;
    border: 1px solid #fff;
    font-size: 18px;
    line-height: 21px;
    transition: all 0.3s ease;
}

.button:hover {
    color: #cb0e0e;
    border: 1px solid #cb0e0e;
    scale: 1.2;
}

/* HEADER */

.header {
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}
.header__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.menu__list {
    display: flex;
}
.menu__item + .menu__item {
    margin-left: 30px;
}
.menu__link {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    transition: color 0.3s ease;
}
.menu__link:hover,
.header__phone:hover {
    color: #cb0e0e;
}
.header__phone {
    font-size: 24px;
    line-height: 29px;
    margin-left: auto;
    transition: color 0.3s ease;
}
.login {
    margin-right: 134px;
    margin-left: 22px;
    transition: scale 0.3s;
}
.login:hover {
    scale: 1.2;
}
.header__content {
    max-width: 50%;
}
.header__title {
    font-family: "spaceagecyrillic";
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
}
.header__title span {
    font-size: 110px;
}
.header__text {
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.header__btn {
    display: block;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-size: 23px;
    line-height: 29px;
    padding: 16px 10px;
    width: 100%;
    transition: all 0.3s ease;
}
.header__btn:hover {
    border: 1px solid #cb0e0e;
    color: #cb0e0e;
    scale: 1.1;
}
.header__description {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5%;
    margin-top: 40px;
}
.header__description-text {
    width: 165px;
    font-size: 14px;
    line-height: 17px;
}
.header__description-text + .header__description-text {
    margin-left: 50px;
}

/* ABOUT */

.about {
    background-image: url(../images/about-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.about__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 150px;
    gap: 99px;
}
.about__img {
    max-width: 100%;
}
.about__content {
    width: 600px;
}
.about__content-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 5px;
}
.about__content-subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #036cca;
    margin-bottom: 30px;
}
.about__content-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    gap: 53px;
}
.about__content-text p {
    width: 165px;
}
.about__table {
    margin-bottom: 50px;
}
.about__table-tr {
    border: 1px solid #fff;
    border-left: none;
    border-right: none;
}
.about__table-tr + .about__table-tr {
    font-size: 36px;
    line-height: 43px;
    font-weight: 700;
    text-align: center;
}
.about__table-td {
    padding: 10px 15px;
}
.about__table-td span {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.about__table-caption {
    caption-side: bottom;
    text-align: left;
    margin-top: 20px;
    font-size: 12px;
    line-height: 14px;
}

/* HOWTO */

.howto {
    background-image: url(../images/howto-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 110px;
    padding-top: 13px;
}
.howto__box {
    text-align: center;
}
.howto__box circle,
.howto__box text,
foreignObject {
    cursor: pointer;
    transition: all 0.3s;
    font-size: 18px;
}
.howto__box g:hover circle {
    r: 20px;
    fill: #036cca;
}
.howto__box g:hover text {
    fill: #036cca;
    font-size: 36px;
}
.howto__box g:hover foreignObject {
    color: #036cca;
    font-size: 22px;
}
foreignObject {
    text-align: left;
    cursor: pointer;
}

/* BOOKING */
.booking {
    background-image: url(../images/booking-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 100vh;
}
.booking__inner {
    display: flex;
    justify-content: space-between;
}
.booking__text {
    width: 165px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: 52px;
}
.booking__text + .booking__text {
    margin-left: 0;
    margin-right: 0;
}

/* OFFER */

.info {
    background-image: url(../images/info-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 100px;
}
.offer__inner {
    display: flex;
    justify-content: space-between;
}
.offer__item {
    width: 500px;
}
.offer__item-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    border: 1px solid #fff;
    margin-bottom: 25px;
    padding: 40px 75px;
    text-align: center;
}
.offer__item-text {
    width: 236px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 29px;
}
.offer__item-text span {
    color: #cb0e0e;
}
.offer__old-price {
    text-align: right;
    font-size: 14px;
    line-height: 17px;
    color: #e5e5e5;
    margin-bottom: 16px;
    position: relative;
}
.offer__old-price:before {
    content: "";
    position: absolute;
    width: 68px;
    height: 2px;
    background-color: #cb0e0e;
    top: 7px;
    right: 0;
    transform: rotate(15deg);
    opacity: 0.6;
}
.offer__new-price {
    font-size: 48px;
    line-height: 57px;
}
.offer__btn {
    width: 100%;
}

/* SERVICES */
.services {
    padding-bottom: 200px;
}
.services__inner {
    display: flex;
    justify-content: space-between;
}
.services__list-box {
    width: 620px;
    margin-right: 80px;
    font-size: 24px;
    line-height: 29px;
}
.services__list-title {
    margin-bottom: 25px;
}
.services__list {
    margin-bottom: 25px;
}
.services__list-item {
    padding-left: 36px;
    position: relative;
}
.services__list-item:before {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 0;
    top: 5px;
}
.services__notification {
    font-size: 12px;
    line-height: 14px;
}
.services__buttons {
    width: 500px;
}
.services__btn {
    width: 100%;
}
.services__btn--first {
    margin-bottom: 50px;
    position: relative;
}
.services__btn--first:before {
    content: "";
    position: absolute;
    background-image: url(../images/spaceman.png);
    right: 3px;
    bottom: 39px;
    width: 192px;
    height: 150px;
}

/* SLIDER */

.slider {
    text-align: center;
    margin-bottom: 100px;
}
.slider__inner {
    margin-bottom: 50px;
    border: 1px solid #fff;
    padding: 100px 0;
}
.slider__box-img {
    margin: 0 auto;
}
.slider__quote {
    font-family: "spaceagecyrillic";
    font-size: 24px;
    line-height: 30px;
}
.slider__box {
    position: relative;
}
.slick-prev,
.slick-next {
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.slick-prev {
    left: 75px;
}
.slick-next {
    right: 75px;
}

/* CONTACTS */

.contacts {
    background-color: #010203;
    padding-bottom: 100px;
}
.contacts__inner {
    display: flex;
    justify-content: space-between;
}
.contacts__box {
    width: 500px;
}
.contacts__title {
    padding-bottom: 46px;
}
.contacts__box-text {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 80px;
}
.contacts__form-input {
    background-color: #010203;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
    color: #fff;
    font-family: "SF-Pro-Display";
    font-size: 14px;
    line-height: 17px;
    padding: 20px 0;
    width: 100%;
}
.contacts__form-input::placeholder {
    color: #fff;
    font-family: "SF-Pro-Display";
    font-size: 14px;
    line-height: 17px;
}
.contacts__btn {
    margin-top: 70px;
    width: 100%;
}
.contacts__guarantees {
    width: 600px;
}
.contacts__guarantees-text {
    font-size: 24px;
    line-height: 29px;
}
.contacts__guarantees-img {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

/* FOOTER */

.footer {
    background-image: url(../images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 150px;
}
.footer__inner {
    display: flex;
    justify-content: flex-end;
}
.footer__text {
    width: 165px;
    margin-right: 50px;
}
.footer__text p + p {
    margin-top: 50px;
}
.footer__menu {
    width: 120px;
    margin-right: 95px;
}
.footer__menu-link,
.footer__contacts-link {
    text-transform: uppercase;
    transition: all 0.5s;
}
.footer__menu-item + .footer__menu-item,
.footer__contacts-item + .footer__contacts-item {
    margin-top: 22px;
}
.footer__contacts {
    width: 165px;
}
.footer__contacts-link:hover,
.footer__menu-link:hover {
    color: #cb0e0e;
}

